USE [TRCDBNew]
GO
/****** Object:  User [trcadmin]    Script Date: 16-10-2024 4:22:46 PM ******/
CREATE USER [trcadmin] FOR LOGIN [trcadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [trcadmin]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [trcadmin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [trcadmin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [trcadmin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [trcadmin]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [trcadmin]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [trcadmin]
GO
/****** Object:  Schema [cda]    Script Date: 16-10-2024 4:22:46 PM ******/
CREATE SCHEMA [cda]
GO
/****** Object:  Schema [com]    Script Date: 16-10-2024 4:22:46 PM ******/
CREATE SCHEMA [com]
GO
/****** Object:  Schema [core]    Script Date: 16-10-2024 4:22:46 PM ******/
CREATE SCHEMA [core]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserAutoID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[UserTypeID] [int] NOT NULL,
	[UserRoleID] [int] NOT NULL,
	[OrganizationID] [int] NOT NULL,
	[DepartmentID] [int] NULL,
	[DesignationID] [int] NULL,
	[UserFullName] [nvarchar](100) NOT NULL,
	[UserFullNameBangla] [nvarchar](100) NULL,
	[MobileNo] [nvarchar](20) NULL,
	[Address] [nvarchar](150) NULL,
	[Password] [nvarchar](80) NOT NULL,
	[PasswordExpiryDate] [date] NULL,
	[Status] [int] NOT NULL,
	[Email] [nvarchar](200) NULL,
	[UserImage] [image] NULL,
	[Signature] [image] NULL,
	[LastLatitude] [float] NULL,
	[LastLongitude] [float] NULL,
	[Is2FAauthenticationEnabled] [bit] NULL,
	[NID] [nvarchar](30) NULL,
	[CanChangeOwnPassword] [bit] NULL,
	[MobileVerification] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserAutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[asdasdasd]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[asdasdasd]

as



  --fileData: File = null;

  --        this.previewUrl2 = "data:image/png;base64," + this.user.UsersPhoto;

--<img [src]="previewUrl2" alt="" width="100px" height="80px">
--public byte[] UsersPhoto { get; set; }
--    UsersPhoto: any;  
--previewUrl2: any = null;
--<input type="file" class="form-control" name="image" (change)="fileProgress2($event)">


--  fileProgress2(fileInput: any) {
--    this.fileData = <File>fileInput.target.files[0];
--    this.preview2();
--  }


--  preview2() {
--    //debugger;
--    // Show preview
--    var mimeType = this.fileData.type;
--    if (mimeType.match(/image\/*/) == null) {
--      return;
--    }

--    var reader = new FileReader();
--    reader.readAsDataURL(this.fileData);
--    reader.onload = (_event) => {
--      this.previewUrl2 = reader.result;
--      var sign = this.previewUrl2.split(',', 1) + ',';
--      this.user.UsersPhoto = this.previewUrl2.replace(sign, '');
--    }
--  }
select * from Users
GO
/****** Object:  Table [com].[Attachments]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [com].[Attachments](
	[AttachmentID] [int] IDENTITY(1,1) NOT NULL,
	[ReferenceType] [int] NULL,
	[ReferenceID] [int] NOT NULL,
	[AttachementTypeID] [int] NULL,
	[FileFormat] [nvarchar](20) NULL,
	[AttachmentName] [nvarchar](100) NULL,
	[AttachmentLink] [nvarchar](1024) NULL,
	[FileContent] [nvarchar](max) NULL,
	[Notes] [nvarchar](100) NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [com].[Organizations]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [com].[Organizations](
	[OrganizationID] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationCode] [nvarchar](10) NULL,
	[OrganizationName] [nvarchar](150) NOT NULL,
	[OrganizationNameBangla] [nvarchar](100) NULL,
	[OrganizationShortName] [nvarchar](20) NULL,
	[OrganizationType] [int] NOT NULL,
	[ProductName] [nvarchar](50) NULL,
	[ProductCode] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[PublicURL] [nvarchar](50) NULL,
	[PrivateURL] [nvarchar](50) NULL,
	[OrganizationLogo] [image] NULL,
	[ProductLogo] [image] NULL,
	[ContactPersonID] [int] NULL,
	[MobileNo] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Latitude] [nvarchar](50) NULL,
	[Longitude] [nvarchar](50) NULL,
	[OrganizationUserID] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Organizations] PRIMARY KEY CLUSTERED 
(
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [com].[UserRoles]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [com].[UserRoles](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[UserRoleName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[OrderNo] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsDataRestricted] [bit] NULL,
	[AllowLocalMedia] [bit] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [com].[UsersRestricted]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [com].[UsersRestricted](
	[UsersRestrictedID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[MacAddress] [varchar](50) NULL,
	[IPAddress] [varchar](50) NULL,
	[IMEI] [varchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK__UsersRes__7E657089A142D58B] PRIMARY KEY CLUSTERED 
(
	[UsersRestrictedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[Designations]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[Designations](
	[DesignationID] [int] IDENTITY(1,1) NOT NULL,
	[DesignationName] [nvarchar](50) NOT NULL,
	[DesignationNameBangla] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[OrderNo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [core].[GlobalSettings]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[GlobalSettings](
	[GlobalSettingID] [int] NOT NULL,
	[GlobalSettingName] [nvarchar](100) NOT NULL,
	[Value] [int] NOT NULL,
	[ValueInString] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[OrganizationID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_GlobalSettings] PRIMARY KEY CLUSTERED 
(
	[GlobalSettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[NotificationAreas]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[NotificationAreas](
	[NotificationAreaID] [int] NOT NULL,
	[NotificationAreaName] [nvarchar](100) NOT NULL,
	[NotificationType] [int] NOT NULL,
	[NotificationBody] [nvarchar](300) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ExpireTime] [int] NULL,
 CONSTRAINT [PK_NotificationArea] PRIMARY KEY CLUSTERED 
(
	[NotificationAreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[Permissions]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](50) NOT NULL,
	[ParentPermissionID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IconName] [nvarchar](20) NULL,
	[RoutePath] [nvarchar](100) NULL,
	[PermissionType] [int] NOT NULL,
	[OrderNo] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedDate] [date] NOT NULL,
	[IsVisible] [bit] NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[PermissionsBackup]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[PermissionsBackup](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](50) NOT NULL,
	[ParentPermissionID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IconName] [nvarchar](20) NULL,
	[RoutePath] [nvarchar](100) NULL,
	[PermissionType] [int] NOT NULL,
	[OrderNo] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedDate] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [core].[PermissionUserRoleMaps]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[PermissionUserRoleMaps](
	[PermissionUserRoleMapID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionID] [int] NOT NULL,
	[UserRoleID] [int] NOT NULL,
	[OrganizationID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_PermissionUserRoleMap] PRIMARY KEY CLUSTERED 
(
	[PermissionUserRoleMapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[db_version]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[db_version](
	[db_version_info1] [nvarchar](50) NULL,
	[db_version_info2] [nvarchar](50) NULL,
	[db_version_info3] [nvarchar](50) NULL,
	[db_version_info4] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 16-10-2024 4:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShortMessage] [nvarchar](500) NULL,
	[FullMessage] [nvarchar](500) NULL,
	[IpAddress] [nvarchar](500) NULL,
	[UserId] [nvarchar](500) NULL,
	[PageUrl] [nvarchar](500) NULL,
	[ReferrerUrl] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [Log_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [com].[Attachments] ON 

INSERT [com].[Attachments] ([AttachmentID], [ReferenceType], [ReferenceID], [AttachementTypeID], [FileFormat], [AttachmentName], [AttachmentLink], [FileContent], [Notes], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Latitude], [Longitude]) VALUES (68, 1, 10, 2, N'.jpg', N'01062023224148964_0000000010.jpg', N'2023', NULL, NULL, 0, 27, CAST(N'2023-06-01T22:41:48.967' AS DateTime), 27, CAST(N'2023-06-01T22:41:48.967' AS DateTime), NULL, NULL)
INSERT [com].[Attachments] ([AttachmentID], [ReferenceType], [ReferenceID], [AttachementTypeID], [FileFormat], [AttachmentName], [AttachmentLink], [FileContent], [Notes], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Latitude], [Longitude]) VALUES (69, 1, 10, 3, N'.mp4', N'01062023224150102_0000000010.mp4', N'2023', NULL, NULL, 0, 27, CAST(N'2023-06-01T22:41:50.103' AS DateTime), 27, CAST(N'2023-06-01T22:41:50.103' AS DateTime), NULL, NULL)
INSERT [com].[Attachments] ([AttachmentID], [ReferenceType], [ReferenceID], [AttachementTypeID], [FileFormat], [AttachmentName], [AttachmentLink], [FileContent], [Notes], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Latitude], [Longitude]) VALUES (70, 1, 10, 3, N'.mp4', N'01062023224150442_0000000010.mp4', N'2023', NULL, NULL, 0, 27, CAST(N'2023-06-01T22:41:50.443' AS DateTime), 27, CAST(N'2023-06-01T22:41:50.443' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [com].[Attachments] OFF
GO
SET IDENTITY_INSERT [com].[Organizations] ON 

SET IDENTITY_INSERT [com].[Organizations] OFF
GO
SET IDENTITY_INSERT [com].[UserRoles] ON 

INSERT [com].[UserRoles] ([UserRoleID], [UserRoleName], [IsActive], [OrderNo], [CreatedBy], [CreatedDate], [IsDataRestricted], [AllowLocalMedia]) VALUES (1, N'Super Admin', 1, 2, 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), NULL, 1)
INSERT [com].[UserRoles] ([UserRoleID], [UserRoleName], [IsActive], [OrderNo], [CreatedBy], [CreatedDate], [IsDataRestricted], [AllowLocalMedia]) VALUES (2, N'System Admin', 1, 1, 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), NULL, 1)
INSERT [com].[UserRoles] ([UserRoleID], [UserRoleName], [IsActive], [OrderNo], [CreatedBy], [CreatedDate], [IsDataRestricted], [AllowLocalMedia]) VALUES (3, N'Admin', 1, 3, 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [com].[UserRoles] OFF
GO
SET IDENTITY_INSERT [core].[Designations] ON 

INSERT [core].[Designations] ([DesignationID], [DesignationName], [DesignationNameBangla], [IsActive], [OrderNo]) VALUES (1, N'Chief Town Planner', N'সিটিপি (অঃ দাঃ)', 1, 1)
INSERT [core].[Designations] ([DesignationID], [DesignationName], [DesignationNameBangla], [IsActive], [OrderNo]) VALUES (2, N'Deputy Chief Town Planner', N'ডিসিটিপি', 1, 2)
INSERT [core].[Designations] ([DesignationID], [DesignationName], [DesignationNameBangla], [IsActive], [OrderNo]) VALUES (3, N'Service Delivery Officer', N'সার্ভিস ডেলিভারি অফিসার', 1, 3)
SET IDENTITY_INSERT [core].[Designations] OFF
GO
INSERT [core].[GlobalSettings] ([GlobalSettingID], [GlobalSettingName], [Value], [ValueInString], [IsActive], [OrganizationID], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Login Session Time', 90, N' 333333', 0, 0, 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime))
INSERT [core].[GlobalSettings] ([GlobalSettingID], [GlobalSettingName], [Value], [ValueInString], [IsActive], [OrganizationID], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'SMS Base Url', 0, N'http://182.160.105.227:8088/', 1, 1, 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime))
INSERT [core].[GlobalSettings] ([GlobalSettingID], [GlobalSettingName], [Value], [ValueInString], [IsActive], [OrganizationID], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Google Map Key', 1, N'AIzaSyBiols4lFvOc7_rGeOZVI6l-YE617w7xR0', 1, 1, 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime))
GO
INSERT [core].[NotificationAreas] ([NotificationAreaID], [NotificationAreaName], [NotificationType], [NotificationBody], [IsActive], [ExpireTime]) VALUES (1, N'UserRegistration', 1, N' {0} is your registration OTP and valid till {1} df', 1, 5)
INSERT [core].[NotificationAreas] ([NotificationAreaID], [NotificationAreaName], [NotificationType], [NotificationBody], [IsActive], [ExpireTime]) VALUES (2, N'UserLogin', 2, N'Your login OTP is {0} and valid till {1} pppp', 0, 5)
GO
SET IDENTITY_INSERT [core].[Permissions] ON 

INSERT [core].[Permissions] ([PermissionID], [PermissionName], [DisplayName], [ParentPermissionID], [IsActive], [IconName], [RoutePath], [PermissionType], [OrderNo], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsVisible]) VALUES (1, N'root', N'root', 0, 1, N' ', N'root', 1, 1, 1, CAST(N'2022-01-01' AS Date), 1, CAST(N'2022-01-01' AS Date), 1)
INSERT [core].[Permissions] ([PermissionID], [PermissionName], [DisplayName], [ParentPermissionID], [IsActive], [IconName], [RoutePath], [PermissionType], [OrderNo], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsVisible]) VALUES (2, N'', N'User', 1, 1, N'bx bx-user', N'', 1, 3, 1, CAST(N'2022-01-01' AS Date), 1, CAST(N'2023-01-16' AS Date), 1)
INSERT [core].[Permissions] ([PermissionID], [PermissionName], [DisplayName], [ParentPermissionID], [IsActive], [IconName], [RoutePath], [PermissionType], [OrderNo], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsVisible]) VALUES (3, N'userList', N'User List', 2, 1, NULL, N'settings/user/user-list', 1, 2, 1, CAST(N'2022-01-01' AS Date), 1, CAST(N'2024-10-16' AS Date), 1)
SET IDENTITY_INSERT [core].[Permissions] OFF
GO
SET IDENTITY_INSERT [core].[PermissionsBackup] ON 

INSERT [core].[PermissionsBackup] ([PermissionID], [PermissionName], [DisplayName], [ParentPermissionID], [IsActive], [IconName], [RoutePath], [PermissionType], [OrderNo], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'root', N'root', 0, 1, N' ', N'root', 1, 1, 1, CAST(N'2022-01-01' AS Date), 1, CAST(N'2022-01-01' AS Date))
INSERT [core].[PermissionsBackup] ([PermissionID], [PermissionName], [DisplayName], [ParentPermissionID], [IsActive], [IconName], [RoutePath], [PermissionType], [OrderNo], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'', N'User', 1, 1, N'bx bx-user', N'', 1, 3, 1, CAST(N'2022-01-01' AS Date), 1, CAST(N'2023-01-16' AS Date))
INSERT [core].[PermissionsBackup] ([PermissionID], [PermissionName], [DisplayName], [ParentPermissionID], [IsActive], [IconName], [RoutePath], [PermissionType], [OrderNo], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'userList', N'User List', 2, 1, N' bx bx-home-circle', N'settings/user/user-list', 1, 2, 1, CAST(N'2022-01-01' AS Date), 1, CAST(N'2023-01-18' AS Date))
SET IDENTITY_INSERT [core].[PermissionsBackup] OFF
GO
SET IDENTITY_INSERT [core].[PermissionUserRoleMaps] ON 

INSERT [core].[PermissionUserRoleMaps] ([PermissionUserRoleMapID], [PermissionID], [UserRoleID], [OrganizationID], [CreatedBy], [CreatedDate]) VALUES (31, 13, 3, 1, 17, CAST(N'2023-01-28T16:31:50.230' AS DateTime))
INSERT [core].[PermissionUserRoleMaps] ([PermissionUserRoleMapID], [PermissionID], [UserRoleID], [OrganizationID], [CreatedBy], [CreatedDate]) VALUES (46, 2, 3, 1, 1, CAST(N'2023-02-08T14:33:57.220' AS DateTime))
INSERT [core].[PermissionUserRoleMaps] ([PermissionUserRoleMapID], [PermissionID], [UserRoleID], [OrganizationID], [CreatedBy], [CreatedDate]) VALUES (47, 3, 3, 1, 1, CAST(N'2023-02-08T14:34:14.747' AS DateTime))
SET IDENTITY_INSERT [core].[PermissionUserRoleMaps] OFF
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211108211740_InitialCreate', N'6.0.0')
GO
INSERT [dbo].[db_version] ([db_version_info1], [db_version_info2], [db_version_info3], [db_version_info4]) VALUES (N'K6CYswiNzBs=', N'qm/TKcQJU24=', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserRole__518ED90A68478877]    Script Date: 16-10-2024 4:22:46 PM ******/
ALTER TABLE [com].[UserRoles] ADD  CONSTRAINT [UQ__UserRole__518ED90A68478877] UNIQUE NONCLUSTERED 
(
	[UserRoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Designat__372CDC23574C5D78]    Script Date: 16-10-2024 4:22:46 PM ******/
ALTER TABLE [core].[Designations] ADD  CONSTRAINT [UQ__Designat__372CDC23574C5D78] UNIQUE NONCLUSTERED 
(
	[DesignationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_PermissionUserRoleMap]    Script Date: 16-10-2024 4:22:46 PM ******/
ALTER TABLE [core].[PermissionUserRoleMaps] ADD  CONSTRAINT [UC_PermissionUserRoleMap] UNIQUE NONCLUSTERED 
(
	[PermissionID] ASC,
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_UserID]    Script Date: 16-10-2024 4:22:46 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UC_UserID] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [core].[NotificationAreas] ADD  CONSTRAINT [DF_NotificationArea_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [core].[GlobalSettings]  WITH CHECK ADD  CONSTRAINT [FK_GlobalSettings_GlobalSettings] FOREIGN KEY([GlobalSettingID])
REFERENCES [core].[GlobalSettings] ([GlobalSettingID])
GO
ALTER TABLE [core].[GlobalSettings] CHECK CONSTRAINT [FK_GlobalSettings_GlobalSettings]
GO
ALTER TABLE [core].[Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_Permissions] FOREIGN KEY([PermissionID])
REFERENCES [core].[Permissions] ([PermissionID])
GO
ALTER TABLE [core].[Permissions] CHECK CONSTRAINT [FK_Permissions_Permissions]
GO
ALTER TABLE [core].[PermissionUserRoleMaps]  WITH CHECK ADD  CONSTRAINT [FK_PermissionUserRoleMap_Organizations] FOREIGN KEY([OrganizationID])
REFERENCES [com].[Organizations] ([OrganizationID])
GO
ALTER TABLE [core].[PermissionUserRoleMaps] CHECK CONSTRAINT [FK_PermissionUserRoleMap_Organizations]
GO
ALTER TABLE [core].[PermissionUserRoleMaps]  WITH CHECK ADD  CONSTRAINT [FK_PermissionUserRoleMap_Permissions] FOREIGN KEY([PermissionID])
REFERENCES [core].[Permissions] ([PermissionID])
GO
ALTER TABLE [core].[PermissionUserRoleMaps] CHECK CONSTRAINT [FK_PermissionUserRoleMap_Permissions]
GO
ALTER TABLE [core].[PermissionUserRoleMaps]  WITH CHECK ADD  CONSTRAINT [FK_PermissionUserRoleMap_UserRoles] FOREIGN KEY([UserRoleID])
REFERENCES [com].[UserRoles] ([UserRoleID])
GO
ALTER TABLE [core].[PermissionUserRoleMaps] CHECK CONSTRAINT [FK_PermissionUserRoleMap_UserRoles]
GO
ALTER TABLE [core].[PermissionUserRoleMaps]  WITH CHECK ADD  CONSTRAINT [FK_PermissionUserRoleMap_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserAutoID])
GO
ALTER TABLE [core].[PermissionUserRoleMaps] CHECK CONSTRAINT [FK_PermissionUserRoleMap_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Organizations] FOREIGN KEY([OrganizationID])
REFERENCES [com].[Organizations] ([OrganizationID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Organizations]
GO
